:root {
    --color-primary: #3F2D6A;
    --color-dark-primary: #10003A;
    --color-purple-gray: #4A4453;
    --color-light: #F9EAFF;
    --color-special-green: #00C9A4;
    --color-white: #ffff;  
    --color-yellow: #E0BE04;
    --color-blue: #0B85BE;
    --color-green: #079F4E;
    --color-red: #E5424E;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    min-width: 320px;
}
body {
    background-color: var(--color-light);
}
.game-container {
    display: grid;
    /* grid-template-columns: 1fr;
    grid-row: repeat(3, 1fr); */
    grid-template-areas: 
    "game-status"
    "game-board"
    "game-buttons"
    ;
    gap: 16px;
    margin: 0 auto;
    height: max-content;
}
.game-status {
    margin: 12px auto 0 auto;
    grid-area: game-status;
    text-align: center;
}
.game-status__title {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-dark-primary);
}
.game-status__subtitle {
    margin: 4px auto;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-primary);
}
.game-board {
    margin: 0 auto;
    width: max-content;
    height: max-content;
    grid-area: game-board;
}
.game-board__container {
    display: grid;
    position: relative;
    gap: 6px;
    grid-template-columns: repeat(2, 112px);
    grid-template-rows: repeat(2, 112px);
    grid-template-areas: 
    "yellow-area blue-area" 
    "red-area green-area";
    border-radius: 50%;
    overflow: hidden;
    width: max-content;
    height: max-content;
    background-color: var(--color-dark-primary);
    border: 12px solid var(--color-dark-primary);
}
.gameboard--yellow {
    grid-area: yellow-area;
    background-color: yellow;
}
.gameboard--blue {
    background-color: blue;
    grid-area: blue-area;
}
.gameboard--red {
    background-color: red;
    grid-area: red-area;
}
.gameboard--green {
    background-color: green;
    grid-area: green-area;
}
.gameboard--light {
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    background-image: url(../assets/icons/white-box.svg);
}
.gameboard--inactive {
    background-image: url(../assets/icons/dark-box.svg);
}
.game-board__central-circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: var(--color-dark-primary);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.6);
}
.game-board__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--color-white);
    text-align: center;
    user-select: none;
}
.game-buttons {
    margin: 16px auto 0 auto;
    grid-area: game-buttons;
    width: max-content;
}
.game-button__start-game {
    display: block;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    color: var(--color-purple-gray);
    font-weight: 700;
    font-size: 2.1rem;
    text-align: center;
    padding: 8px 18px;
    background-color: var(--color-light);
    border: 2px solid var(--color-purple-gray);
    border-radius: 8px;
    transition: .3s;
    outline: none;
}
.game-button__start-game:hover {
    transform: translate(0, -1px);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}
.game-button__start-game:active {
    transform: scale(.95);
}
.hide-element {
    display: none;
}